.albums {
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.album-image {
  height: 300px;
  width: 300px;
}
.album-section-title {
  align-self: center;
}
.album-section-title:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 3px;
  content: ' ';
  text-shadow: none;
  background-color: #999;
  width: 400px;
}
.album-section-title:before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: ' ';
  text-shadow: none;
  background-color: #999;
  width: 400px;
}

.Modal {
  position: absolute;
  top: 5rem;
  left: 15rem;
  right: 15rem;
  bottom: 5rem;
  background-color: white;
}
.Modal:focus {
  outline: 0;
}
