.music {
  min-height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #191a1e;
  .music-albums {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    .music-albums-item {
      margin: 0.5rem;
      height: 35rem;
      width: 35rem;
    }
    .music-albums-image {
      height: 100%;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .music-section-title {
    align-self: center;
  }
}
