@import '../../sass/variable.scss';
.videos {
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .primary-video {
    width: '100%';
    height: '70%';
  }
  .more-videos {
    margin: 3rem;
    .more-videos-button {
      font-size: 2rem;
      padding: 1rem 1.5rem;
      border: 2px solid $primary-color;
      background-color: black;
      color: $primary-color;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      &:visited {
        color: $primary-color;
      }
      &:hover {
        cursor: pointer;
        background-color: $primary-color; /* Green */
        color: black;
      }
    }
  }
}
