.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  height: 500px;
  padding: 0 2rem 0 2rem;
}
.card-image-container {
  height: 30%;
}
.card-image {
  height: 100%;
  width: 100%;
}
/* Add some padding inside the card container */
.card-content-container {
  /* padding: 2px 16px; */
  height: 100%;
  background-color: lightgray;
}
