.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  z-index: 1;

  .navbar-section-title {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .navbar-active-section {
    color: orange;
  }
}

.navbar.scrolled {
  color: black;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
