@import '../../sass/variable.scss';

.band {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $primary-font-color;
  background-color: #191a1e;
  padding-top: 50px;
}

.band-content {
  text-align: justify;
  text-justify: inter-word;
}
