@import './sass/variable.scss';

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  background: $background-color;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a.nostyle {
  &:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}

.section-title {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  align-self: center;
  color: $primary-color;
}

/********** react-slick *********/
.slick-slide img {
  min-width: calc(100% - 100px);
  margin: 0 50px;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}
.slick-prev,
.slick-next {
  font-size: 15px !important;
}
.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

.Modal {
  position: absolute;
  top: 10rem;
  left: 10rem;
  right: 10rem;
  bottom: 10rem;
  background-color: black;
}
.Modal:focus {
  outline: 0;
}
.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
}
.ReactModal__Overlay {
  z-index: 1000;
  background-color: rebeccapurple;
}
body.ReactModal__Body--open {
  overflow: hidden;
  position: relative;

  #root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(2px);
  }
}

/***** EFFECT *****/
.grow {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    cursor: pointer;
  }
}

/***** ANIMATION *****/
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
