.albums {
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.album-image {
  height: 300px;
  width: 300px;
}
.album-section-title {
  align-self: center;
}
.Modal {
  position: absolute;
  top: 5rem;
  left: 15rem;
  right: 15rem;
  bottom: 5rem;
  background-color: white;
}
.Modal:focus {
  outline: 0;
}
