.music-modal {
  display: flex;
  height: 100%;

  .music-modal-image {
    display: inline-block;
  }

  .music-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 1rem 2rem;

    .music-modal-title-container {
      display: flex;
      padding-left: 1rem;
      justify-content: space-between;

      .music-modal-close-button {
        display: block;
        width: 5rem;
        height: 5rem;
        background-color: black;
        color: white;
        border: none;
        font-size: 3rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .music-modal-album-description {
      flex-grow: 1;
      padding: 0 1rem 0 1rem;
    }
    .music-modal-album-link {
      padding: 0.5rem 1rem 0 1rem;
      .spotify {
        height: 3.5rem;
      }
    }
  }
}
